<!DOCTYPE html>
<html>
    <header>
            <link rel="stylesheet" href="/css/style.css">
    </header>
    <body>
        <div class="main-content">
        {{>header}}
        <img src="/css/Koala.jpg">

        </div>
        
        {{>footer}}
    </body>
    
</html>