<!DOCTYPE html>
<html>
    <header>
            <link rel="stylesheet" href="/css/style.css">
    </header>
    <body>
            <div class="main-content">
                         {{>header}}
        <p>created by {{name}}</p>
            </div>
           
        {{>footer}}
        </body>
</html>