<!DOCTYPE html>
<html>
    <header>
        <link rel="stylesheet" href="/css/style.css">
    </header>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to get your weather!</p>

            <form class="mainForm"> 
                <input placeholder="Location" class = "inp">
                <button>Search</button>
            </form>
            <p class="message-1"></p>
            <p class="message-2"></p>
        </div>
        {{>footer}}
        <script src="/js/client.js"></script>
    </body>
</html>